/* Purpose: This is the default colour scale and fonts for the site  */

:root {
    --pastel-beige: #eee0c9;
    --pastel-lightblue: #adc4ce;
    --pastel-darkblue: #96b6c5;
    --pastel-darkdarkblue: #1f2a32;
    --pastel-grey: #f1f0e8;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
/* START BODY */
/* This is the default styling for the page unless otherwise below */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--pastel-beige);
    justify-content: center;
    align-items: center;
}

/* START HEADER AND NAVIGATION */

/* This is the styling for the header, which includes the logo and navbar */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4dvh;
    width: 95dvw;
    text-align: center;
    text-decoration: none;
}

header a {
    color: var(--pastel-darkdarkblue);
    text-decoration: none;
}

/* START NAVIGATION */

/* Styling for the anchor/navigation buttons in the navbar */
nav > a {
    text-decoration: none;
    padding: 0.25em;
    color: var(--pastel-darkdarkblue);

}

/* Actions to occur when hovering over anchors */
nav > a:hover {
    text-decoration: underline;
    transition: 1s;
}

/* END HEADER AND NAVIGATION */

/* START MAIN FLEX WRAPPING */


.contentRow {
	display: flex;
	flex-direction: column;
	max-width: 100%;
    margin: 1rem 0 0 0;
}

.aboutInfo {
	max-width: 70dvw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

/* B&W Image Style */
.aboutInfo > img {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
	height: 25dvh;
	border-radius: 2em;
    box-shadow: 0.2em 0.2em 10px black;
    margin: 0;
}

.aboutInfo > a {
    background-color: var(--pastel-darkblue);
	padding: 0.5em;
	border-radius: 3em;
	border: 2px solid var(--pastel-darkdarkblue);
    color: white;
    text-decoration: none;
}

.aboutInfo > a:hover {
    text-decoration: none;
    background-color: var(--pastel-darkdarkblue);
}

h3 {
    display: flex;
    padding: 0.1rem;
    margin: 0;
}

h4 {
    display: flex;
    padding: 0.1rem;
    margin: 0;
}

p {
    display: flex;
    padding: 0.2rem;
    margin: 0;
}

/* This is the styling for the footer. It ensures the footer is always visible at the bottom even when scrolling or showing content larger than the page */
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2dvh;
    width: 100%;
    color: black;
}

