/* Purpose: This is the default colour scale and fonts for the site  */

:root {
    --pastel-beige: #eee0c9;
    --pastel-lightblue: #adc4ce;
    --pastel-darkblue: #96b6c5;
    --pastel-darkdarkblue: #1f2a32;
    --pastel-grey: #f1f0e8;   

    font-family: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--pastel-beige);
    justify-content: center;
    align-items: center;
    color: var(--pastel-darkdarkblue);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8dvh;
    width: 95%;
    text-decoration: none;
    

}

nav > a {
    text-decoration: none;
    padding: 0.50em;
    color: var(--pastel-darkdarkblue);

}

nav > a:hover {
    text-decoration: underline;
}




/* This is the view for mobile users */




/* This is the view for desktop users */
@media screen and (min-width: 500px) {
    body {}
}