/* Purpose: This is the default colour scale and fonts for the site  */

:root {
    --dodger-blue-50: #eef8ff;
    --dodger-blue-100: #d9efff;
    --dodger-blue-200: #bce4ff;
    --dodger-blue-300: #8ed3ff;
    --dodger-blue-400: #59b9ff;
    --dodger-blue-500: #2493ff;
    --dodger-blue-600: #1b7bf5;
    --dodger-blue-700: #1464e1;
    --dodger-blue-800: #1750b6;
    --dodger-blue-900: #19468f;
    --dodger-blue-950: #142c57;       

    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dodger-blue-300);
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8dvh;
    width: 95%;
}

nav {
    text-decoration: none;
}

a:hover {
    text-decoration: wavy;
}