/* Purpose: This is the default colour scale and fonts for the site  */

:root {
    --pastel-beige: #eee0c9;
    --pastel-lightblue: #adc4ce;
    --pastel-darkblue: #96b6c5;
    --pastel-darkdarkblue: #1f2a32;
    --pastel-grey: #f1f0e8;   
    font-family: Arial, Helvetica, sans-serif;
}

* {
margin: 0 0.25em;
}

/* This is the default styling for the page unless otherwise below */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--pastel-beige);
    justify-content: flex-start;
    align-items: center;
}

/* START HEADER AND NAVIGATION */

/* This is the styling for the header, which includes the logo and navbar */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pastel-grey);
    height: 4dvh;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* START NAVIGATION */

/* Styling for the anchor/navigation buttons in the navbar */
nav > a {
    text-decoration: none;
    padding: 0.25em;
    color: var(--pastel-darkdarkblue);
}

/* Actions to occur when hovering over anchors */
nav > a:hover {
    text-decoration: underline;
}

/* END HEADER AND NAVIGATION */

/* START MAIN FLEX WRAPPING */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2em;
}

/* START INTRO SECTION*/

.homeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pastel-grey);
    width: 40dvh;
    padding: 1em;
}

.homeImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pastel-grey);
    width: 40dvh;
    padding: 1em
}

.homeImage > img {
    height: 15dvh;
    border-radius: 50%;
}

.homeLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pastel-grey);
    width: 40dvh;
    padding: 1em
}

.homeLink > a {
    background-color: var(--pastel-darkblue);
	padding: 0.5em;
	border-radius: 3em;
	border: 2px solid var(--pastel-darkdarkblue);
    color: white;
    text-decoration: none;
}
.homeLink > a:hover {
    text-decoration: none;
    background-color: var(--pastel-darkdarkblue);
}

footer {
    /* background-color: var(--pastel-grey); */
    height: 1.5dvh;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
}

